.card {
    width: 444px;
    height: 468px;
    background-color: #fff;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.25));
}

.list {
    width: 1507px;
    height: 209px;
    background-color: #fff;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.25));
}